*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel{
  display: flex;
  justify-content: center;

}
.carousel .slide img{
  height: 90vh;
}

.text-on-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;

}

